<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        .status-label {
            padding: 5px 10px;
            border-radius: 5px;
            color: #fff;
            font-weight: bold;
            text-align: center;
        }
        .status-upcoming {
            background-color: #ffc107; 
        }
        .status-open {
            background-color: #28a745; 
        }
        .status-closed {
            background-color: #dc3545; 
        }
    </style>
</head>
<body>

<div class="container ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('homepage') }}">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="card mt-4">
        <div class="card-body px-5">
            <div class="row">
                <h1 class="card-title">Task Details</h1>
                <div class="col-3 mt-2">
                    <div class="status-label {% if status == 'Upcoming' %}
                                        status-upcoming{% elif status == 'Open' and task.status == 'In Progress' %}
                                        status-open{% elif status == 'Closed' or task.status == 'COMPLETED' %}
                                        status-closed{% endif %}">
                        {{ status }}
                    </div>
                </div>
            </div>
            <p><strong>Task Name:</strong> {{ task.task_name }}</p>
            <p><strong>Task statut: </strong>{{task.status }}</p>
            <div class="row">
                <p class="col"><strong>Start Date:</strong> {{ task.start_date }}</p>
                <p class="col"><strong>Close Date:</strong> {{ task.close_date }}</p>
            </div>
            <p><strong>Assigned Admin:</strong> {{ task.admin.fulname }}</p>
            <h3 class="card-title">Task Progressions</h3>
            <ul class="list-group">
                {% for progression in task_progressions %}
                    <li class="list-group-item">
                        <p><strong>Progress Name:</strong> {{ progression.progname }}</p>
                        <p><strong>Start Date:</strong> {{ progression.start_at }}</p>
                        <p><strong>Completed at:</strong>
                            {% if progression.end_at is not none %}
                                {{ progression.end_at }}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </p>
                        
                        
                        <div class="row">
                            <p class="col-5 mt-2"><strong>Status:</strong> {{ progression.statut }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
    </div>

    
    
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
